body,html{
 


}
header{
  
  
}
header img{
    width: 150px;
    height: 150px;
    float: right;
 
    
}
header h1{
    letter-spacing: 5px;
    font-size: 56px;
    color: red;
    margin-left: 300px ;
    margin-right: 300px ;
}

h1{
    margin-left: 300px ;
    margin-right: 300px ;
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    font-size: 26px;
    color: blue;
    border: solid;

   
}
h2{
    margin-left: 300px;
    margin-right: 300px ;
    text-align: center;
    font-size: 26px;
    color: blue;
    border: solid;
}
        /*.........................EN-TETE............................../*
        */

main{
   box-sizing:120px ;
   border: solid;
}

h3{
    margin-left: 300px ;
    margin-right: 300px ;
    text-align: center;
    font-size: 26px;
    color: blue;
    border: solid;

}
h4{
    margin-left: 300px ;
    margin-right: 300px ;
    text-align: center;
    font-size: 26px;
    color: blue;
    border: solid;

}
footer{
    text-align:center;
}
h1{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: blue;
    
}
footer img{
   border: solid;
    width: 80px;
    height: 80px;
    
    
}
