body,html{
font-size: 12px 1px 1px;
color: blue;
text-transform: capitalize;
background-color: #D7DEDC;
margin: 50px;

                                 /*.........................EN-TETE..............................*/
}
header{
  margin-left: 50px;
  margin-top: 0px;

}
header img{
    
    width: 250px;
    height: 250px;
    float: right;
    border: solid 5px #7A3B69 ;
    border-radius: 10px 10px;
 
    
}
header h1{
    
  
    margin-top: 250px;
    text-transform: capitalize;
    width: 50%;
    letter-spacing: 5px;
    font-size: 46px;
    color: #7A3B69;
    border-radius: 100px 100px;
    background-color: rgb(240, 214, 166);
    border: none;
 }
select{
   
   position:absolute;
   top: 120px;
   left: 145px;
   background-color: white;
   
   


}
p1 li{
    background-color: gainsboro;
}
h1{
    margin: 50px;
    margin-left: 300px ;
    margin-right: 300px ;
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    color: blue;
    border: solid;
    background-color: gainsboro;
    border-radius: 100px 100px;
   
}
h2{
  margin: 50px;
    margin-left: 300px;
    margin-right: 300px ;
    text-align: center;
    font-size: 30px;
    color:#7A3B69 ;
    border: solid;
    background-color: gainsboro;
    border-radius: 100px 100px;
}
                        /*.........................EN-TETE..............................*/

                        /*.........................principal..............................*/

main{
    margin: 30px;
    margin-inline: 10px;
    padding-inline:  10px;
   box-sizing:120px ;
  

   
}
main h1{
    
    margin-top: 100px;
    background-color: gainsboro;
    border-radius: 100px 100px;
}

main h3{
    margin: 50px;
    margin-left: 300px ;
    margin-right: 300px ;
    text-align: center;
    font-size: 30px;
    color: #7A3B69;
    border: solid;
    background-color: gainsboro;
    border-radius: 100px 100px;

}
h4{
    margin: 50px;
    margin-left: 300px ;
    margin-right: 300px ;
    text-align: center;
    font-size: 30px;
    color:#7A3B69 ;
    border: solid;
    background-color: gainsboro;
    border-radius: 100px 100px;

}
strong{
    color: #7A3B69;

                                        /*.........................principal..............................*/

                                         /*.........................bas de page..............................*/

}
footer{
    
   text-align: center;
 
   
}
h1{
    margin: 50px;   
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color:#7A3B69 ;
    background-color: gainsboro;
    border-radius: 100px 100px;
    
}
footer img{
    display: inline; 
    margin: 30px;
    border: solid 5px black;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 100px 100px;
   
    
}
h1{
    margin-top: 50px;
   
    
}
li{
    margin: 5px;
    background-color: rgb(240, 214, 166);
    border-radius: 200px 200px;
    border: solid #ddb0e6 ;
}
                                                 /*.........................bas de page..............................*/